<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/new">
      <input type="text" name="user" placeholder="enter your name" />
      <input type="text" name="text" placeholder="write your message" />
      <button type="submit">send</button>
    </form>
    <a href="/">return to the index</a>
  </body>
</html>
